* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header h1 {
    text-align: center;
}

#container {
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    margin: 40px auto;
    border: 2px solid black;
}

#container .gridSquare {
    border: 1px solid black;
}

button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    #container {
        max-width: 330px;
        min-height: 300px;
    }
}